<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAh5DzSDNno2waA80kNJt-7zaD8UlqsXGY</string>
	<key>GCM_SENDER_ID</key>
	<string>170552670421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>venanzi.NavalReactorsParking</string>
	<key>PROJECT_ID</key>
	<string>navalreactorsparking</string>
	<key>STORAGE_BUCKET</key>
	<string>navalreactorsparking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170552670421:ios:cfdeef50aad67434814a5c</string>
</dict>
</plist>